*__pycache__*
*.pyc*
*lightning_logs*
*.neptune*
.vscode
wandb/
outputs/
*.bkp
*debug*
model_dit/models/walt/
slurm_logs/
*out
tmp*
backup_files
configs/test_*
*.pt
pretrained_weights
debug.py
test_examples
run.sh
*.json
.pretrained_weights
*.tmp